# Exemplo de utilização da API REST *open weather iot* em Python no Notebook Jupyter

Primeiramente, instalamos o pacote necessário usando o ambiente anaconda: `pandas`.

In [20]:
!conda install -c anaconda pandas -y

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Retrieving notices: ...working... done

Importamos a biblioteca necessária: `pandas`:

In [3]:
import pandas as pd

Agora, fazemos uma requisição *web* para o *endpoint* `/dataseries` no servidor `owi-server.onrender.com`, obtendo uma resposta em JSON da série de dados meteorológicos brutos:

In [4]:
df_weather_data_series = pd.read_json("https://owi-server.onrender.com/dataseries")

Exibimos o dataframe em Pandas:

In [15]:
#df_weather_data_series
df_weather_data_series

,_id,raw
0,637e21e90c049800338ff8e3,"{'val1': 516.6528, 'val2': 569.129, 'val3': 52..."
1,637e21f90c049800338ff8e4,"{'val1': 537.3528, 'val2': 128.661, 'val3': 20..."
2,637e22080c049800338ff8e5,"{'val1': 17.45636, 'val2': 60.2978, 'val3': 44..."
3,637e22180c049800338ff8e6,"{'val1': 326.2612, 'val2': 209.2945, 'val3': 2..."
4,637e22270c049800338ff8e7,"{'val1': 362.2593, 'val2': 179.4556, 'val3': 3..."
...,...,...
108,637e28b80c049800338ff94f,"{'val1': 502.0685, 'val2': 325.3937, 'val3': 1..."
109,637e28c70c049800338ff950,"{'val1': 32.52864, 'val2': 47.80218, 'val3': 1..."
110,637e28d70c049800338ff951,"{'val1': 511.926, 'val2': 64.0741, 'val3': 556..."
111,637e28e70c049800338ff952,"{'val1': 332.0724, 'val2': 437.9488, 'val3': 1..."
112,637e28f60c049800338ff953,"{'val1': 64.03358, 'val2': 392.4802, 'val3': 1..."

In [17]:
pd.json_normalize(df_weather_data_series.raw) # converte a coluna raw para um dataframe

,val1,val2,val3,val4,val5,val6,val7,val8
0,516.65280,569.12900,524.47940,344.50370,574.84950,211.8752,184.55030,326.01790
1,537.35280,128.66100,204.48720,365.11510,372.36430,293.9666,275.47770,469.86040
2,17.45636,60.29780,44.20507,142.05090,503.75700,123.9863,120.15240,178.30560
3,326.26120,209.29450,251.69320,409.15790,266.40170,413.8918,355.78920,285.21900
4,362.25930,179.45560,376.42180,299.72490,196.00360,201.1809,346.53520,364.03550
...,...,...,...,...,...,...,...,...
108,502.06850,325.39370,107.67240,42.44150,510.32620,286.5646,551.27000,73.94981
109,32.52864,47.80218,171.26150,335.47800,81.74924,219.5251,302.91060,21.29942
110,511.92600,64.07410,556.73070,73.27188,233.29910,386.3340,159.73610,20.29788
111,332.07240,437.94880,143.10070,220.53440,440.07950,232.7054,255.15300,49.49172
112,64.03358,392.48020,104.35370,191.19330,388.40780,257.6970,35.96659,127.30440

Por motivos de compatibilidade, a API REST também é capaz de retornar resultados compatíveis com o formato utilizado pelos sistemas anteriores:

In [12]:
df_weather_data_series_csv = pd.read_csv("https://owi-server.onrender.com/dataseries/old-format")

In [13]:
df_weather_data_series_csv

      value  direction      timestamp
0  0.617222        199  1669509220838
1  0.416392         34  1669509221838
2  0.302238        290  1669509222838
3  0.152180          5  1669509223838
4  0.647455        356  1669509224838
5  0.021445         88  1669509225838
6  0.220483        282  1669509226838
7  0.516439         89  1669509227838
8  0.211542        100  1669509228838
9  0.813524        305  1669509229838